.navbar {
  
  width: 100%;
  height: 60px;
  background-color:rgb(225, 223, 223);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  z-index: 1000; /* ensures it stays on top */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Optional: add margin to your page content */
body {
  margin: 0;
  padding-top: 60px; /* equal to navbar height */
}
